[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BatchExperiments"]
	path = BatchExperiments
	url = https://github.com/tudo-r/batchexperiments
[submodule "BatchJobs"]
	path = BatchJobs
	url = https://github.com/tudo-r/batchjobs
